In [0]:
inserts, update , delete: change data capture 

merge into : avoid duplicates 

upsert: UPdate inSERT

In [0]:
data=([(1,'Sachin','Mumbai'),(2,'Virat','Delhi')])
schema="id int, name string, city string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source

In [0]:
%sql
create table auto.manju_silver.emp (id int, name string, city string)

In [0]:
%sql
MERGE INTO auto.manju_silver.emp t
USING source s
ON t.id = s.id
WHEN MATCHED THEN
  UPDATE SET
    t.name = s.name,
    t.city = s.city
--when matched and operation='delete'
--then delete
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    city
  )
  VALUES (
   s.id,
   s.name,
   s.city
  )

In [0]:
spark.table("auto.manju_silver.emp").display()

In [0]:
data=([(3,'Dhoni','Chennai','Insert'),(2,'Virat','Banglore','Update'),(1,'Sachin','Mumbai','Delete')])
schema="id int, name string, city string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("sourcefordelete")

In [0]:
%sql
select * from sourcefordelete

In [0]:
%sql
create  table auto.manju.cricket1 (id int, name string, city string)

In [0]:
%sql
select * from sourcefordelete

In [0]:
%sql
MERGE INTO auto.manju.cricket1 t
USING sourcefordelete s
ON t.id = s.id
WHEN MATCHED AND s.operation='Delete'
then delete
WHEN MATCHED THEN
  UPDATE SET
    t.id = s.id,
    t.name = s.name,
    t.city = s.city
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    city
  )
  VALUES (
   s.id,
   s.name,
   s.city
  )

In [0]:
%sql
select * from auto.manju.cricket1